.nomarpad{
    margin:0px !important;
    padding: 0px !important;
}

.newa{
    text-decoration: none!important;
    color:#000000;
}
.newa:hover{
    text-decoration: underline!important;
    color:#000000;
}

.recipebookicon{
    background-image: url(../images/recipebookicon.png);
    background-repeat: no-repeat;
    min-height: 100px;
    background-position-x: center;
    background-size: 70px;
}
.recipebookicon:hover{
    background-image: url(../images/recipebookiconfill.png);
    transition: 0.5s;
}
.saltbaegif{
    background-image: url(../images/saltbaegif.gif);
    background-repeat: no-repeat;
    min-height: 100px;
    background-position-x: center;
    background-size: 70px;
}

.recipe_image{
    width:100%; 
    height:auto; 
    border-radius:5px; 
    -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:4px 4px 5px 0px rgba(50, 50, 50, 0.3);
    box-shadow:4px 4px 5px 0px rgba(50, 50, 50, 0.3);
}

.star:hover{
    transform: rotate(360deg);
    transition: 1.5s;
}

.waicon{
    transform: scale(1.5);
    transition: 0.5s;
}
.waicon:hover{
    transform: scale(1.7);
    transition: 0.5s;
}

.recipe_title{
    color:black;
    font-family: Pacifico!important;
    font-size: 50px;
    text-decoration:none;
    text-decoration:underline; 
    font-weight:bold;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /*line-height: 16px;  fallback */
    /*max-height: 32px;  fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    min-height: 100px;
    text-align-last: center;
}

.recipe_subtitle{
    margin-top: 20px !important;
    font-size: 20px;
    text-decoration:none;
    font-style:italic;
    font-family:Lato;
    text-decoration:underline; 
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px; /* fallback */
    max-height: 32px; /* fallback */
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;color:rgb(77, 57, 57)
}

.recipe_ingredients{
    font-family:Lato;
    text-decoration:none;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px; /* fallback */
    max-height: 32px; /* fallback */
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
    color:black
}

.content{
    min-width: 1000px;
    height: auto;
    padding: 50px 250px;
    /*background: rgb(216, 142, 142);*/
}

.pagination{
    justify-content: center;
}

.btn-primary{
    color: #fff;
    background-color: #dc3545;
    border-color: #bd2130;
}
.btn-primary:hover{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.navbar-element{
    font-family: Lato;
    font-size: 25px;
}

.navbar-focus{
    font-family: Lato;
}

.navbar-focus:focus{
    font-family: Lato;
    box-shadow: 0 0 0 0.2rem rgba(99, 166, 166, 0.5)!important;
}

.navbar-button{
    font-family: Lato;
    color: #BF4D67 !important;
    border-color: #BF4D67 !important;
}
.navbar-button:active{
    color: #fff !important;
    background-color: #BF4D67 !important;
    border-color: #BF4D67 !important;
}
.navbar-button:hover{
    color: #fff !important;
    background-color: #BF4D67 !important;
    border-color: #BF4D67 !important;
}
.navbar-button:focus{
    box-shadow: 0 0 0 0.2rem rgba(191, 77, 103,0.5)!important;
}

.page-item.disabled .page-link {
    background-color: #AEE5D8 !important;
    border-color: #63A6A6 !important;
}
.page-item.active .page-link {
    color: #000000 !important;
    background-color: #63A6A6 !important;
    border-color: #63A6A6 !important;
}
.page-link {
    color: #000000 !important;
    background-color: #AEE5D8 !important;
    border-color: #63A6A6 !important;
}

.page-link:hover {
    color: #000000 !important;
    background-color: #63A6A6 !important;
    border-color: #63A6A6 !important;
    transition: 0.5s;
}
.bg-white {
    background-color: #AEE5D8 !important;
}
.py-4 {
    min-height: 884px!important;
    padding-bottom: 0px!important;
}
.nav-link{
    font-family: Lato;
}
.dropdown-menu{
    font-family: Lato;
    min-width: 7rem!important;
    background-color: #AEE5D8!important;
    border: 3px solid #63A6A6!important;
}
.dropdown-menu:focus{
    min-width: 7rem!important;
    background-color: #AEE5D8!important;
    border: 3px solid #63A6A6!important;
}
.dropdown-menu:active{
    min-width: 7rem!important;
    background-color: #AEE5D8!important;
    border: 3px solid #63A6A6!important;
}
.dropdown-item:hover{
    background-color: #63A6A6!important;
}

.input{
    background-color: #AEE5D8!important;
    border: 0px solid #ced4da!important;
    border-bottom: 2px solid #BF4D67!important;
    border-radius: 0rem!important;
}
.input:focus{
    box-shadow: 0 0 0 0rem rgba(191, 77, 103, 0.5)!important;
    border-bottom: 4px solid #BF4D67!important;
}
.category-select{
    background-color: #AEE5D8!important;
    border: 2px solid #BF4D67!important;
    border-radius: 0rem!important;
}
.bootstrap-select.btn-group .dropdown-menu li a:hover {
    color: whitesmoke !important;
    background: #AEE5D8 !important;
}